root = true

[*.cs]
dotnet_diagnostic.SA1008.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1313.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1636.severity = none
dotnet_diagnostic.SA1641.severity = none
